<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebar">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img th:src="@{/images/logo.svg}" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class='sidebar-title'>Menu</li>

                <li class="sidebar-item ">
                    <a th:href="@{/home}" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item ">
                    <a th:href="@{/users}" class='sidebar-link'>
                        <i data-feather="users" width="20"></i>
                        <span>Users</span>
                    </a>
                </li>

                <li class="sidebar-item ">
                    <a th:href="@{/contacts}" class='sidebar-link'>
                        <i data-feather="book" width="20"></i>
                        <span>Contacts</span>
                    </a>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>