<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Voler Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body>
<div id="auth">

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img th:src="@{/images/favicon.svg}" height="80" class="mb-4">
                            <h3>Sign Up</h3>
                            <p>Please fill the form to register.</p>
                        </div>
                        <form method="POST" th:object="${userForm}" th:action="@{/signin}">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">First Name</label>
                                        <input type="text" id="first-name-column" class="form-control"
                                               name="fname-column" th:field="*{firstName}">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">Last Name</label>
                                        <input type="text" id="last-name-column" class="form-control"
                                               name="lname-column" th:field="*{lastNameOne}">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="username-column">Username</label>
                                        <input type="text" id="username-column" class="form-control"
                                               name="username-column" th:field="*{username}">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Email</label>
                                        <input type="email" id="email-id-column" class="form-control"
                                               name="email-id-column" th:field="*{email}">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="password-column">PASSWORD</label>
                                        <input type="password" id="password-column" class="form-control"
                                               name="password-column" th:field="*{password}">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="confirm-password-column">CONFIRM PASSWORD</label>
                                        <input type="password" id="confirm-password-column" class="form-control"
                                               name="confirm-password-column" th:field="*{passwordConfirm}">
                                    </div>
                                </div>
                            </div>

                            <a th:href="@{login}">Have an account? Login</a>
                            <div class="clearfix">
                                <button class="btn btn-primary float-right">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>

</html>
